@media screen and (min-width: 400px) {
  #loginCard {
    min-width: 420px;
  }
  #reset-container {
    min-width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 300px) and (max-width: 830px) {
  .sortBtn {
    display: none;
  }
}

html {
  margin: 0 auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  overflow: hidden;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.ft {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.ft-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.letter-spacing-sm {
  letter-spacing: 0.0854rem;
}

.text-decoration-none {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.pointer-event-auto {
  pointer-events: auto;
}

.rounded-full {
  border-radius: 50% !important;
}

.rounded-lg {
  border-radius: 30px !important;
}

.rounded-md {
  border-radius: 10px !important;
}

.rounded-sm {
  border-radius: 8px !important;
}

.rounded-dotted-sm {
  border-radius: 7px !important;
  border: 3px dashed #f35f28 !important;
}

.rounded-dotted-slim {
  border-radius: 10px #f35f28 !important;
  border: thin dashed #f35f28 !important;
}

.rounded-top-side {
  border-top-left-radius: 10px !important;
  -webkit-border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  -webkit-border-top-right-radius: 10px !important;
}

.overlay {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(64, 64, 64, 0.53);
  margin-top: -48px;
  margin-left: 12px;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
}

.border-white--4 {
  border: 4px solid white !important;
}

.border-white--6 {
  border: 6px solid white !important;
}

.border-left-right {
  border: 1px solid transparent;
  border-left-color: #dcdcdcdb !important;
  border-right-color: #dcdcdcdb !important;
}

.card-bg-light {
  background: #a6a6a626 !important;
}

.flex-full {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.h-icon {
  width: 26px !important;
  height: 26px !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-xs {
  font-size: 0.475rem !important;
}

.text-md {
  font-size: 1.1rem !important;
}

.text-lg {
  font-size: 1.5rem !important;
}

.text-xl {
  font-size: 2rem !important;
}

.primary--text {
  color: #4caaa7 !important;
  caret-color: #4caaa7 !important;
}

.primary-light--text {
  color: #f35f28 !important;
  caret-color: #4caaa7 !important;
}

.primary-light--bg {
  background-color: rgba(250, 192, 192, 0.09);
}

.primary--bg {
  background: #4caaa7 !important;
}

.icon-address-style {
  position: relative;
  top: -3px !important;
}

.icon-transform {
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
}

.login-bg {
  background: #0048a7 !important;
}

.indicator {
  width: 15px;
  height: 15px;
  position: absolute;
  background: green;
  border-radius: 50% !important;
  right: 10px;
  top: 8px;
  -webkit-animation: blinker 3s linear infinite;
          animation: blinker 3s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.v-dialog {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
  -o-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
  background-color: #fff;
}

.v-menu__content {
  border: none !important;
  border-radius: 8px !important;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
          box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
}

.v-tooltip__content {
  padding: 1px 8px !important;
  background: #2d2d2d !important;
}

/**
* Ripples
 */
.primary--text-ripple {
  background: rgba(10, 60, 255, 0.22);
}

.error--text {
  color: #ff1744 !important;
}

/*
 * Button Borders
 */
.btn-primary--border {
  border: 1px solid #0621a0 !important;
}

.product--text {
  color: #0563ff;
}

.vx-shadow {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.vx-shadow-dim {
  -webkit-box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.v--shadow-dialog {
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
          box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
}

.v--shadow-light {
  -webkit-box-shadow: rgba(9, 30, 66, 0.31) 0 0 1px 0, rgba(9, 30, 66, 0.25) 0 1px 1px 0;
          box-shadow: rgba(9, 30, 66, 0.31) 0 0 1px 0, rgba(9, 30, 66, 0.25) 0 1px 1px 0;
}

.v-list-item__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.upload_overlay {
  background: #a6a6a699;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
}

.preview-img {
  height: 170px;
  background: whitesmoke;
  width: 170px;
  margin: 0 auto;
  border-radius: 50%;
}

.internet-img {
  width: 250px;
}

.hide {
  visibility: hidden;
}

.show {
  display: block;
}

.hospCard {
  border: 3px solid #ff8a00 !important;
}

.checked {
  background: #ff8a00;
}

.mark-icon {
  color: white;
}

.v-tabs-slider-wrapper {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-top-style: solid;
  border-top-width: 3px !important;
}

.add-payment:hover {
  background: rgba(110, 61, 43, 0.34) !important;
}

.add-payment.close-icon {
  position: absolute;
  right: 36px;
}

.disabled {
  color: gray !important;
  pointer-events: none;
}

#signIn {
  background-size: cover;
}

#signIn > .login__left {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#4caaa7), to(#f35f28));
  background-image: linear-gradient(to bottom left, #4caaa7, #f35f28);
}

#signIn > .login__left > .backdrop {
  background: #4caaa7;
  opacity: 0.7;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.top-card-container {
  background-color: rgba(132, 128, 127, 0.09) !important;
  margin: 11px;
  border-radius: 10px !important;
}

.verified-icon {
  position: absolute;
  right: 0;
  margin-top: 0 !important;
  margin-right: 8px;
}

.top--search {
  position: fixed;
  top: 0;
  margin-top: 76px !important;
  /* width: 100%; */
  z-index: 10;
}

.text--underline {
  text-decoration: underline;
}

.text--strikethrough {
  text-decoration: line-through;
}

.border-dashed {
  border: 2px dashed #4caaa7;
}

.details-sidebar--drawer-bg {
  background-color: rgba(215, 207, 207, 0.24) !important;
}

.dash-side-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dash-side-container-sideColumn {
  background: white;
  padding: 7px;
  z-index: 10;
}

.dash-side-container-topNavbar {
  padding: 0 !important;
  z-index: 12;
}

.mark-as-read {
  position: absolute;
  right: -12px;
  margin-top: -19px;
}

.data-list-list-view .v-data-table__wrapper .vs-table--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.data-list-list-view .v-data-table__wrapper .vs-table--header > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.data-list-list-view .v-data-table__wrapper .vs-table--header .vs-table--search {
  padding-top: 0;
}

.data-list-list-view .v-data-table__wrapper .vs-table--header .vs-table--search .vs-table--search-input {
  padding: 0.9rem 2.5rem;
  font-size: 1rem;
}

.data-list-list-view .v-data-table__wrapper .vs-table--header .vs-table--search .vs-table--search-input + i {
  left: 1rem;
}

.data-list-list-view .v-data-table__wrapper .vs-table--header .vs-table--search .vs-table--search-input:focus + i {
  left: 1rem;
}

.data-list-list-view .v-data-table__wrapper .v-data-table {
  border-collapse: separate;
  border-spacing: 0 1.3rem;
  padding: 0 1rem;
}

.data-list-list-view .v-data-table__wrapper .v-data-table tr {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.data-list-list-view .v-data-table__wrapper .v-data-table tr td {
  padding: 20px;
}

.data-list-list-view .v-data-table__wrapper .v-data-table tr td:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.data-list-list-view .v-data-table__wrapper .v-data-table tr td:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.data-list-list-view .v-data-table__wrapper .v-data-table tr td.td-check {
  padding: 20px !important;
}

.data-list-list-view .v-data-table__wrapper .vs-table--thead th {
  padding-top: 0;
  padding-bottom: 0;
}

.data-list-list-view .v-data-table__wrapper .vs-table--thead th .vs-table-text {
  text-transform: uppercase;
  font-weight: 600;
}

.data-list-list-view .v-data-table__wrapper .vs-table--thead th.td-check {
  padding: 0 15px !important;
}

.data-list-list-view .v-data-table__wrapper .vs-table--thead tr {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.data-list-list-view .v-data-table__wrapper .vs-table--pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notification--dot {
  width: 10px;
  position: absolute;
  height: 10px;
  background: red;
  border-radius: 20px;
  margin-left: -19px;
  top: 13px;
}

.verified {
  position: absolute;
  right: 18px;
  color: #4caaa7;
}

.member-container:hover {
  background-color: rgba(250, 157, 157, 0.09);
}

.status--deceased {
  border: 2px solid #4caaa7;
  border-radius: 50%;
}

.status--active {
  border: 2px solid #026602;
  border-radius: 50%;
}

.status--inactive {
  border: 2px solid #f8a100;
  border-radius: 50%;
}

a.link-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  color: #000000 !important;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 4px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 50px;
}

a.link-tag:hover {
  color: #f35f28 !important;
  background-color: rgba(246, 166, 166, 0.16);
}

a > .inner-container {
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 4px;
}

a.active {
  color: #f35f28 !important;
  font-weight: 700;
}

.active--item {
  background: #c1bdbe21;
}

/** Body width **/
.body-full-width {
  width: 990px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

#flex-avatar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.menubar {
  font-size: 0.93em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 275px;
  position: fixed;
  padding: 0 9px;
  height: 100%;
}

.logo-top {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.logo-top > .logo-shadow {
  text-shadow: 2px 2px 2px #2f2f44;
}

.custom-shadow {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.ondrag-background {
  background: #031dae0a;
  min-height: 300px;
  border: 3px dashed #0726d0a8;
  border-radius: 4px;
}

.card-container:hover {
  background-color: rgba(250, 157, 157, 0.09);
}

.navigation {
  width: 275px !important;
}

.bottom-sheet {
  display: none !important;
}

.nav-links {
  display: block;
}

.mid-container {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border: 1px solid transparent;
  border-right-color: #f1eaea;
  border-left-color: #f1eaea;
  height: calc(100vh - 10px);
  max-width: 600px;
  width: 100%;
  overflow-y: auto;
}

.mid-container-auto {
  max-width: 920px;
}

.tox-tinymce {
  width: 100% !important;
  border-radius: 8px;
}

.messaging-sidebar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  margin: 10px;
  width: 340px;
}

#main-header {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mini-screen {
  display: none !important;
}

@media screen and (min-width: 1300px) {
  .body-full-width {
    width: 960px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .body-full-width {
    width: 920px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .messaging-sidebar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    margin: 10px;
    width: 300px;
  }
}

@media screen and (min-width: 1300px) {
  a.link-tag {
    padding-right: 15px;
  }
}

@media (min-width: 900px) and (max-width: 1055px) {
  .messaging-sidebar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    margin: 10px;
    width: 250px;
  }
}

@media screen and (max-width: 1100px) {
  .body-full-width {
    width: 600px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .messaging-sidebar {
    display: none !important;
  }
}

@media (min-width: 590px) and (max-width: 1300px) {
  .menubar {
    font-size: 0.93rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 78px;
    position: fixed;
    padding: 0 9px;
    height: 100%;
  }
  .navigation {
    width: 78px !important;
  }
  .logo-top,
  .nav-links {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .hide-links {
    display: none;
  }
  .bottom-sheet {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .mini-screen {
    display: inline-block !important;
  }
  .save-btn {
    margin-bottom: 20px !important;
  }
}

.toolbar--title {
  font-size: clamp(1rem, 2vw, 1.3rem);
}

@media screen and (max-width: 700px) {
  #main-header {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
  }
  .body-full-width {
    width: 100% !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
  }
}

@media screen and (max-width: 500px) {
  #flex-avatar {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */